<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" type="text/css" href="about.css"/>
    <meta charset="utf-8">
    <title>Example App - Home</title>
</head>
<body>
    <h1>About</h1>
</body>
</html>