<html>
    <body>
        <form method="POST" action="/novonome">
            <label>Nome</label>
            <input id="nome" type="text" name="nome" placeholder="nome"/>
            <br />
            <button>Enviar</button>
        </form>
    </body>
</html>